@using Imoty.Web.ViewModels.Search;
@model ListViewModel
@using Imoty.Common;
@{
    this.ViewData["Title"] = "Search List";
}
<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<hr />

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 pb-5">
    @foreach (var property in this.Model.Properties)
    {
        <div class="card col-md-4">
            <img src="@property.ImageUrl" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">@property.Type</h5>
                <p class="card-text">@property.CategoryName</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="ViewProperty" asp-route-id="@property.Id" asp-route-category="@property.CategoryName">View the @property.CategoryName</a>
            </div>
        </div>
    }
</div>