@model IndexViewModel
@using Imoty.Common;
@using Imoty.Web.ViewModels.Home;
@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>Welcome to @GlobalConstants.SystemName</h2>
</div>

<hr />

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

<hr />

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 pb-5">
    @foreach (var property in this.Model.Properties)
    {
        <div class="card col-md-4 card">
            <img src="@property.ImageUrl" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">@property.Type</h5>
                <p class="card-text">@property.CategoryName</p>
                <a class="btn btn-primary" asp-action="ViewProperty" asp-route-id="@property.Id" asp-route-category="@property.CategoryName">View the @property.CategoryName</a>
            </div>
        </div>
    }
</div>