@using Imoty.Web.ViewModels.Home;
@model SalesRentsOrNBInListViewModel
@using Imoty.Common;
@{
    this.ViewData["Title"] = "Ново строителство";
}
<div class="text-center">
    <h1>Welcome to @GlobalConstants.SystemName</h1>
</div>

<hr />

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    @foreach (var property in this.Model.PropertiesForSale)
    {
        <div class="card col-md-4">
            <img src="@property.ImageUrl" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">@property.Type</h5>
                <p class="card-text">@property.CategoryName</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>

<hr />

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage){
        <text>disabled</text>
 }">
            <a class="page-link" asp-action="Sales" asp-route-id="@Model.PreviousPageNum">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">@Model.PageNumber</a>
        </li>
        <li class="page-item @if(!Model.HasNextPage){
        <text>disabled</text>
 }">
            <a class="page-link" asp-action="Sales" asp-route-id="@Model.NextPageNum">Next</a>
        </li>
    </ul>
</nav>